* {
    background: black;
    font-family: 'Roboto', sans-serif;
    color: #f4f4f4;
}

html {
    min-height:100%;
}

/** all CSS is in order of appearance within html **/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 2px;
    margin: 5px;
    max-width: 100%;
}

h1 {
    font-size: 15px;
    align-self: center;
    opacity: .65;
}

li {
    display: inline-flex;
    align-self: center;
    font-size: 25px;
    text-align: justify;
    padding: 0px 16px 0 16px;
}

/** hover feature for links in navbar **/
li a:hover {
    transform: scale(1.5);
    transition: all ease 1.5s;  
    background: none;
}

a {
    text-decoration: none;
}

.sepSec {
    display: flex;
}

/** background image **/
.intro {
    background-image: url(https://github.com/AndyAn7/Personal-Portfolio/blob/main/assets/images/bg.jpg?raw=true);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    justify-content: space-around;

}

/** profile photo **/
.intro img {
    border-radius: 100%;
    max-width: 28vw;
    max-height: 40vw;
    padding: 2px;
    margin:auto;
    margin-left: 5vw;
}

/** author's name **/
.authName {
    background: none;
    color:black;
    font-size: 7vw;
    margin: auto;
    margin-right: 10vw;
    width: 42vw;
}

/** aside content with links to pages **/
.main .asideLinks {
    line-height: 50px;
    font-size: 75px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
    align-items: flex-end;
    margin-top: 7vh;
    margin-bottom: 5vh;
}

/** hover feature of aside content **/
.asideLinks:hover {
    transform: scale(.9);
    transition: all ease 1.5s;
    background: none;
    cursor: grab;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
}

.projects a {
    display: inline-flex;
    width: 33%;
    margin: 5px 0;
    position: relative;    
}

.projects a:first-of-type, .projects a:last-of-type {
    width: 100%;
}

.projects img {
    width: 100%;
}

.project-title {
    position: absolute;
    top: 10%;
    font-size: 30px;
    padding: 5px;
}

/* modal styling */
.modal p {
    background-color: #ffffff;
    color: black;
    font-size: 30px;

}

.ui-dialog-title {
    background-color: #ffffff;
    color: black;
    max-width: min-content;
}

.ui-dialog-titlebar {
    background-color: #ffffff;
}

.ui-dialog-buttonset {
    background-color: white;
}

.ui-button-icon {
    background-color: white;
}

#about1, #about5 {
    width:100%;
    filter: grayscale(100%);
}

#about1:hover {
    filter:grayscale(0%);
}

#about2 {
    filter: grayscale(100%);
}

#about2:hover {
    filter:grayscale(0%);
}

#about3 {
    filter: grayscale(100%);
}

#about3:hover {
    filter: grayscale(0%);
}

#about4 {
    filter: grayscale(100%);
}

#about4:hover {
    filter:grayscale(0%);
}

#about5:hover {
    filter:grayscale(0%);
}

footer {
    padding:20px;
    justify-content: center;
    display: flex;
    flex-shrink: 0;
    font-size: 20px;
}

/** media queries **/
@media screen and (max-width:970px) {
   h1 {
       display:none;
   }
   
   nav li {
       justify-content: space-around;
       width: 100vw;
   }

   .intro {
       height:25%;
   }
   .intro img {
       margin-top:125px;
       margin-bottom: 50px;
   }

   .authName {
       margin-bottom: 150px;
   }

   .main {
       font-size: 100vw;
   }
   .projects a {
       width: 100%;
   }
   
}

@media screen and (max-width: 545px) {

    .main .asideLinks {
        font-size: 50px;
        line-height: 10px;
        align-items: center;
        width: 100%;
    }
    .sepSec {
        display: block;
        width: 100%;
    }

    .intro img {
        max-width: 60vw;
        max-height: 80vw;
    }
}