* {
    padding: 0;
    margin: 0;
    color: black;
}

body {
    background-color: #cccccc;
}
header {
    font-family:'IBM Plex Serif', serif;
    size: 90%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    position:fixed;
    width:100%;
}

h1 {
    font-size: 50px;
    text-decoration-line: underline;
    color: black;
    margin-top: 150px;
}

ul {
    list-style-type: none;
    width: 100%;
    overflow: hidden;
}

li {
    display:inline-flex;
    padding-left: 10px;
    font-size: 25px;
    margin-top: 130px;
}

.pulse a:hover {
    animation: pulse 1s infinite;
    animation-timing-function: linear;
}

.hero {
    height:400px;
    background-image: url(https://img.wallpapersafari.com/tablet/2560/1700/34/23/jAZLIk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 20px 20px 0;
}

.hero h2 {
    color: #cccccc;
    background-color:black;
    padding:15px;
}

.right-content {
    flex:3;
    padding: 0 0px 20px 20px;
}

.container {
    background: #adadad;
    height: 665px;
    width: 450px;
    padding: 0.5em;
    justify-content: space-evenly;
    align-content: space-evenly;
    margin-left: 27px;
    margin-top: 20px;

    display:flex;
    flex-wrap: wrap;
}
.item {
    contain: content;
}

@keyframes pulse {
    0% { transform: scale(1);
}
    50% { transform: scale(1.2);
}
    100% { transform: scale(1);
}
}

a {
    margin: auto;
    overflow: hidden;
    margin-top: 30px; 
    text-align: center;
    display: block;
    font-weight: bold;
    padding: 20px;
  }